<h1>Welcome to Carbon Web-Suite</h1>

<% puts JSON.pretty_generate(test) %>
<%= JSON.pretty_generate(test).inspect %>
<%= JSON.pretty_generate(test).gsub(/\n/, '<br>').gsub(/\t/, '') %>

<p>
  Working towards greener HPC/AI by improving understanding of the carbon impact of HPC/AI solutions.
</p>

